html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    “Segoe UI”,
    “Roboto”,
    “Oxygen”,
    “Ubuntu”,
    “Cantarell”,
    “Fira Sans”,
    “Droid Sans”,
    “Helvetica Neue”,
    sans-serif;
}
body {
  margin:  0;
  padding: 0;
}
header, footer {
  border: solid 0.2em red;
  padding: 1em;
}
nav {
  border: solid 0.2em blue;
}
main {
  border: solid 0.2em green;
}
section {
  height: 32em;
  border: solid 0.2em orange;
}
